@page "/"
@using Client.Models
@using Client.Services

@inject NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

 <div class="container">
      <div id="content">
        <form class="form-inline">
          <div class="input-group">
            <MudTextField class="orm-control search-form" id="search" T="string" @bind-Value="@TextValue" Immediate="true" Label="Search" Variant="Variant.Outlined" @onkeydown="@Enter"></MudTextField>
            <span class="input-group-btn" style="width:39px">
                <MudButton id="search-this" class="pull-right btn btn-default search-btn" OnClick="@(() => { if (@TextValue != null) {Search(@TextValue); } })">click me</MudButton>
            </span>
          </div>
        </form>
          <p class="text-center">Search your favorite movie</p>
      </div>
  </div>

<MudLayout>
    <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
        <p>
            <b>Trending Movies</b>
        </p>
        <div class="container2" >
            @foreach (var item in _trendingMovies)
            {
                var poster = "https://image.tmdb.org/t/p/w200" + @item.PosterPath;

                <MudButton OnClick="@(() => MovieDetails(@item.Id))">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 250px; width: 180px">
                        <MudImage Src="@poster" Fluid="true" Alt=@item.Title Elevation="25" Class="rounded-lg"/>
                    </MudPaper>
                </MudButton>
            }
        </div>
        <div class="paddingTop5"></div>

        <p>
            <b>Popular Movies</b>
        </p>
        <div class="container2" >
            @foreach (var item in _popularMovies)
            {
                var poster = "https://image.tmdb.org/t/p/w200" + @item.PosterPath;

                <MudButton OnClick="@(() => MovieDetails(@item.Id))">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 250px; width: 180px">
                        <MudImage Src="@poster" Fluid="true" Alt=@item.Title Elevation="25" Class="rounded-lg"/>
                    </MudPaper>
                </MudButton>
            }
        </div>
        <div class="paddingTop5"></div>

        <p>
            <b>Now Playing</b>
        </p>
        <div class="container2">
            @foreach (var item in _nowPlaying)
            {
                var poster = "https://image.tmdb.org/t/p/w200" + @item.PosterPath;

                <MudButton OnClick="@(() => MovieDetails(@item.Id))">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 250px; width: 180px">
                        <MudImage Src="@poster" Fluid="true" Alt=@item.Title Elevation="25" Class="rounded-lg"/>
                    </MudPaper>
                </MudButton>
            }
        </div>
        <p>
            <b>Trending TV shows</b>
        </p>
        <div class="container2">
            @foreach (var item in _trendingTVs)
            {
                var poster = "https://image.tmdb.org/t/p/w200" + @item.PosterPath;

                <MudButton OnClick="@(() => TvDetails(@item.Id))">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 250px; width: 180px">
                        <MudImage Src="@poster" Fluid="true" Alt=@item.Name Elevation="25" Class="rounded-lg"/>
                    </MudPaper>
                </MudButton>
            }
        </div>
        <div class="empty-space"></div>
    </MudContainer>
</MudLayout>

@code {

    [Inject]
    private IMoviesData? MoviesData { get; set; }

    private List<Movie> _trendingMovies = new();
    private List<Movie> _popularMovies = new();
    private List<Movie> _nowPlaying = new();
    
    private List<TV> _trendingTVs = new();

    private string? TextValue { get; set; }


    void MovieDetails(int id)
    {
        NavigationManager.NavigateTo($"MovieDetails/{id}");
    }
    
    void TvDetails(int id)
    {
        NavigationManager.NavigateTo($"TVDetails/{id}");
    }

    protected override async Task OnInitializedAsync()
    {
        _trendingMovies = new List<Movie>();
        if (MoviesData != null)
        {
            _trendingMovies = await MoviesData.GetTrending();

            _popularMovies = new List<Movie>();
            _popularMovies = await MoviesData.GetPopular();

            _nowPlaying = new List<Movie>();
            _nowPlaying = await MoviesData.GetNowPlaying();

            _trendingTVs = new List<TV>();
            _trendingTVs = await MoviesData.GetTrendingTv();
        }
    }


    private void Enter(KeyboardEventArgs e)
    {
        if (e.Code is not ("Enter" or "NumpadEnter")) return;
        NavigationManager.@NavigateTo($"Search/{TextValue}");
        TextValue = "";
    }

    private void Search(string textValue)
    {
        NavigationManager.NavigateTo($"Search/{textValue}");
        TextValue = "";
    }

}