@inject NavigationManager NavigationManager
@inject IAccountService AccountService
@page "/Profile"
<MudLayout>
    <MudContainer>
        <MudGrid>
            <MudItem xs="12" sm="9">
                <MudImage Width="199" Height="299" Fluid="true" Alt="@_username" Elevation="25" Class="rounded-lg" Src="/wp-person-placeholder.png"></MudImage>
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">
                                <b>@_username</b>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">
                            <a class="bold">Email: </a> @_email
                            @_date
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
        <table>
        
                        <tr>
                            <th>Nr</th>
                            <th>Poster</th>
                            <th>Name</th>
                            <th>Remove</th>
                        </tr>
                        @foreach (var item in _profileFavorites)
                        {
                            var poster = "https://image.tmdb.org/t/p/original" + @item.PosterPath;
        
        
                            <tr>
                                <td class="text_count">
                                    @count
                                </td>
                                <td >
                                    <MudButton OnClick="@(() => MovieDetails(@item.Id))">
                                        <div class="favorite-list">
                                            <MudImage Src="@poster" Fluid="true" Alt=@item.Title Elevation="25" Class="rounded-lg"/>
                                        </div>
                                    </MudButton>
                                </td>
                                <td>
                                    <button>
                                        <a class="abc" onclick="@(() => MovieDetails(@item.Id))">
                                            @item.Title
                                        </a>
                                    </button>
                                </td>
                                <td>
                                    <MudButton Variant="Variant.Outlined" Size="Size.Large" StartIcon="@Icons.Material.Filled.Favorite"
                                               Color="Color.Primary" OnClick="@(() => RemoveFavoriteMovie(@item.Id))">
                                        Remove
                                    </MudButton>
                                </td>
                            </tr>
                        }
                    </table>
                    
                    <div class="empty-space"></div>
    </MudContainer>
</MudLayout>

@code {
    

    [Inject]
    private IDbAccess? DbAccess { get; set; }

    [Inject]
    private IMoviesData? MoviesData { get; set; }


    int count = 1;
    
    List<string>? _allFavorites;
    private readonly List<Movie> _profileFavorites = new();
    Movie _favoriteEntity = new Movie();


    string _username = "";
    string _email = "";
    string _date = "";

    protected override async Task OnInitializedAsync()
    {
        await AccountService.Initialize();
        if (AccountService.User?.Username != null)
        {
            _username = AccountService.User?.Username!;
            _email = AccountService.User?.Email!;
            _date = AccountService.User.RegistrationDate;
            _allFavorites = await GetAllFavorites()!;
        
        
        foreach (var str in _allFavorites!)
        {
            _favoriteEntity = await MoviesData?.GetMovieDetails(str)!;
            _profileFavorites.Add(_favoriteEntity);
        }
        }
    }

    private async Task<List<string>?>? GetAllFavorites()
    {
        List<string>? allFav = await DbAccess?.GetAllFavorite(AccountService.User?.Username!);
        return allFav;
    }
    
    void MovieDetails(int id)
    {
        NavigationManager.NavigateTo($"MovieDetails/{id}");
    }

    private void RemoveFavoriteMovie(int id)
    {
        DbAccess?.DeleteFavorite(AccountService!.User?.Username!, id);
    }

}