@page "/Search/{Value}"
@using Client.Models.Movies
@inject NavigationManager NavigationManager

<MudLayout>
    <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
        <p>
            <b>Search list for: @Value</b>
        </p>
        <div >
            @foreach (var item in _movies)
            {
                string poster;
                if (@item.PosterPath == null)
                {
                    poster = "/no-image-icon-6.png";
                    <MudButton OnClick="@(() => MovieDetails(@item.Id))">
                        <MudPaper Elevation="2" Class="pa-4" Style="height: 258px; width: 180px">
                            <MudImage Src="@poster" Fluid="true" Alt=@item.Title Elevation="25" Class="rounded-lg"/>
                            <p class="no-image-text">@item.Title</p>
                        </MudPaper>
                    </MudButton>
                }
                else
                {
                    poster = "https://image.tmdb.org/t/p/original" + @item.PosterPath;

                    <MudButton OnClick="@(() => MovieDetails(@item.Id))">
                        <MudPaper Elevation="2" Class="pa-4" Style="height: 250px; width: 180px">
                            <MudImage Src="@poster" Fluid="true" Alt=@item.Title Elevation="25" Class="rounded-lg"/>
                        </MudPaper>
                    </MudButton>
                }
            }
        </div>
    </MudContainer>
</MudLayout>

@code {

    [Parameter]
    public string? Value { get; set; }

    [Inject]
    private IMoviesData? MoviesData { get; set; }

    private List<Movie> _movies = new();

    protected override async Task OnParametersSetAsync()
    {
        var query = Value;
        if (query != null) await SearchApi(query);
    }

    private async Task SearchApi(string query)
    {
        _movies = new List<Movie>();
        _movies = await MoviesData?.GetSearchMovies(query)!;
    }

    void MovieDetails(int id)
    {
        NavigationManager.NavigateTo($"MovieDetails/{id}");
    }

}