@using Api.Models
@using Client.Helpers

@using Client.Services
@inject NavigationManager NavigationManager
@inject IAccountService AccountService
@inject IAlertService AlertService

@page "/Login"

<div class="empty-space"></div>
<h3>Login</h3>

<MudLayout>
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success">
                <MudTextField T="string" Label="Username" Varian="Variant.Outlined" @bind-Value="username" Required="true" RequiredError="Type your username"/>
                <MudTextField T="string" Immediate="true" @onkeydown="@Enter" Label="Password" @bind-Value="password" Required="true" InputType="InputType.Password"/>
                <div class="d-flex align-center justify-space-between mt-6">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="@(() => LoginFunc())">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        Login
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>
        <MudText Color="@Color.Error">
            @errorUsernameIncorrectField
        </MudText>
        <MudPaper Class="pa-4 mt-4" Width="350px">
            <MudText> Dont have an account? register right now </MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" Href="/Signup">
                Sign up
            </MudButton>
        </MudPaper>
    </MudContainer>
</MudLayout>

@code {
    bool success;
    string errorUsernameIncorrect { get; set; }
    string errorUsernameIncorrectField { get; set; }
    string password;
    string username;
    MudForm form;

    IDbAccess DbAccess = new DbAccess();
    private bool authenticated;

    private Models.Account.Login model = new Models.Account.Login();
    private bool loading;

    private async void LoginFunc()
    {
        model.Username = username;
        model.Password = password;


        loading = true;
        try
        {
            await AccountService.Login(model);
        }
        catch (Exception ex)
        {
            loading = false;
            errorUsernameIncorrect = "User does not exists. Please register";

            Console.WriteLine(ex.ToString());
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var timer = new System.Timers.Timer(1000);
        timer.Elapsed += (s, e) =>
        {
            InvokeAsync(() =>
            {
                errorUsernameIncorrectField = errorUsernameIncorrect;
                StateHasChanged();
            });
        };
        timer.Start();
    }

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Code is not ("Enter" or "NumpadEnter")) return;
        LoginFunc();
    }

}