@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar DisableGutters="true">
        
        <MudButton OnClick="@(goHome)">HOME</MudButton>

        <MudContainer MaxWidth="MaxWidth.Small">
            
                
            <MudTextField T="string" @bind-Value="@TextValue" Immediate="true" Label="Search" Variant="Variant.Outlined" @onkeydown="@Enter"></MudTextField>
            <MudButton OnClick="@(() => { if (@TextValue != null) {Search(@TextValue); } })">click me</MudButton>
            

        </MudContainer>

    </MudAppBar>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>
        
    </MudMainContent>
</MudLayout>
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>

<div class="footer-basic">
         <footer>
             <div class="social">
                 <a href="https://github.com/FlaviusAB" target="_blank"><MudAvatar title="Flavius" Image="/github_icon.png"/></a>
                 <a href="https://github.com/prOcenTas" target="_blank"><MudAvatar title="Faustas" Image="/github_icon.png"/></a>
                 <a href="https://github.com/Avender" target="_blank"><MudAvatar title="Mihai" Image="/github_icon.png"/></a>
             </div>
             <ul class="list-inline">
                 <li class="list-inline-item"><a href="#">Home</a></li>
                 <li class="list-inline-item"><a href="/About">About</a></li>
             </ul>
             <p class="copyright">Best Movies © 2022</p>
         </footer>
 </div>
@code {

    private string TextValue { get; set; } = "";

    private readonly MudTheme _theme = new();
    private bool _isDarkMode=true;


    private void goHome()
    {
        NavigationManager.NavigateTo("/");
    }


    private void Enter(KeyboardEventArgs e)
    {
        if (e.Code is not ("Enter" or "NumpadEnter") || TextValue.Equals("")) return;
        NavigationManager.@NavigateTo($"Search/{TextValue}");
        TextValue = "";
    }
    
    private void Search(string textValue)
    {
        NavigationManager.NavigateTo($"Search/{textValue}");
        TextValue = "";
    }

}