@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudLayout>
    <MudAppBar Fixed="true">


        <MudButton OnClick="@(GoHome)">HOME</MudButton>
        <MudSpacer/>

        <MudTextField T="string" @bind-Value="@TextValue" Immediate="true" Placeholder="Search for movies" 
                      Variant="Variant.Outlined" @onkeydown="@Enter" Adornment="Adornment.End" 
                      AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary">
        </MudTextField>
        
        <MudSpacer/>

        @if (AccountService.GetIsLoggedIn()|| AccountService.User?.Username!= null)
        {
            <div class="dropdown">
                <MudAvatar Size="Size.Large" Color="Color.Info" Variant="Variant.Outlined">@AccountService.User?.Username!.Substring(0,1)</MudAvatar>
                <div class="dropdown-content">
                    <a href="/Profile">Profile</a>
                    <a href="/Logout">Log out</a>
                </div>
            </div>
        }
        else
        {
            <MudButton href="/Login"> Login</MudButton>
            <MudButton href="/Signup"> Register</MudButton>
        }

    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>


<footer>
    <div class="footer-basic">
            <div class="social">
                <a href="https://github.com/FlaviusAB" target="_blank">
                    <MudAvatar title="Flavius" Image="/github_icon.png"/>
                </a>
                <a href="https://github.com/prOcenTas" target="_blank">
                    <MudAvatar title="Faustas" Image="/github_icon.png"/>
                </a>
                <a href="https://github.com/Avender" target="_blank">
                    <MudAvatar title="Mihai" Image="/github_icon.png"/>
                </a>
            </div>
            <br/>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Home</a>
                </li>
                <li class="list-inline-item">
                    <a href="/About">About</a>
                </li>
            </ul>
            <p class="copyright">Best Movies © 2022</p>
        </div>
</footer>


@code {

    private string _userInfo = "";
    private bool _userFound;

    private string TextValue { get; set; } = "";

    private readonly MudTheme _theme = new();
    private bool _isDarkMode = true;


    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }

    protected override async void OnInitialized()
    {
        await AccountService.Initialize();
        StateHasChanged();
    }

    private void Search(string textValue)
    {
        NavigationManager.NavigateTo($"Search/{textValue}");
        TextValue = "";
    }

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Code is not ("Enter" or "NumpadEnter") || TextValue.Equals("")) return;
        Search(TextValue);
        TextValue = "";
    }

}